// Place all the styles related to the SuperHeroes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  background-image: url('http://cdn2.bigcommerce.com/n-arxsrf/fhqhzj/product_images/uploaded_images/super-heroes-trivia-category-comic-trivia-night.jpg?t=1398725710');
  background-size: 100%;
  background-repeat: no-repeat;
}


#superheroes {
  background-color: rgba(240, 240, 240, 0.7);
}
